@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    text-decoration: none;
}

.wrapper {
    display: flex;
    background-color: #fff;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.sub-secao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 100px
    
}

#palavras {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

#botao {
        background-color: hwb(216 48% 6% / 0.904);
        width: 180px;
        height: 60px;
        border: none;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
        
}
#botao:hover {
        background-color: rgba(134, 168, 212, 0.911);
        cursor: pointer;
}

#botao:active {
    box-shadow: none;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.instrucoes {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo {
    font-family: 'Noto Serif', serif;
    font-size: clamp(1.5rem, 4rem, 6rem);
    font-weight: 300;
    color: rgba(134, 168, 212);
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 50vh;
    padding: 0px 20px ;
    background-color: rgba(205, 214, 228, 0.781);
    border-radius: 15px;
    
    /*overflow: scroll*/;
}

.descricao .item {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.9rem, 1.1rem, 1.5rem);
    font-weight: 550;
    line-height: 1.5rem;
    color: #000;
    list-style-type: none;
    padding: 5px;

}
.btn {
    background-color:  hwb(216 48% 6% / 0.904);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    padding-top: 10px;
}

.btn:hover {
    background-color: rgba(134, 168, 212, 0.911);
    cursor: pointer;
}

.btn:active {
    box-shadow: none;
}

/* media queries */

@media(max-width: 1024px) {
    .descricao{
        width: 70%;
        height: 75%;
    }
    .botoes{
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin-bottom: 5px;
    }
}

@media(max-width: 700px) {
    .descricao{
        width: 100%;
        line-height: 1.0em;
    }
    .instrucoes {
        gap: 10px
    }
@media(max-width: 300px){
    .descricao{
        width: 100%;
        overflow-y: scroll;
        font-size: 0.2rem;
    }
    .descricao .item {
        font-size: 0.9rem;
    }
    .titulo {
        font-size: 2rem;
    }
}
    
}
